NET clock LOC="AH17";

Net leds<0> LOC="AE24";
Net leds<1> LOC="AD24";
Net leds<2> LOC="AD25";
Net leds<3> LOC="G16";
Net leds<4> LOC="AD26";
Net leds<5> LOC="G15";
Net leds<6> LOC="L18";
Net leds<7> LOC="H18";

Net switches<0> LOC=U25;
Net switches<1> LOC=AG27;
Net switches<2> LOC=AF25;
Net switches<3> LOC=AF26;
Net switches<4> LOC=AE27;
Net switches<5> LOC=AE26;
Net switches<6> LOC=AC25;
Net switches<7> LOC=AC24;
NET "clock" TNM_NET = clock;
TIMESPEC TS_clock = PERIOD "clock" 10.2 ns HIGH 50%;
