NET "clock" LOC = "AL15";


# Monitor G:
#NET "EXT_DAT_O" LOC = "A19";    # <- pin 19
NET "burched_port_d<18>" LOC = "A20";
NET "burched_port_d<17>" LOC = "C20";
NET "burched_port_d<16>" LOC = "C21";
NET "burched_port_d<15>" LOC = "A21";
NET "burched_port_d<14>" LOC = "A22";
NET "burched_port_d<13>" LOC = "A23";
NET "burched_port_d<12>" LOC = "A24";
NET "burched_port_d<11>" LOC = "C22";
NET "burched_port_d<10>" LOC = "C23";
NET "burched_port_d<9>" LOC = "D23";
NET "burched_port_d<8>" LOC = "D24";
NET "burched_port_d<7>" LOC = "C24";
NET "burched_port_d<6>" LOC = "C26";
NET "burched_port_d<5>" LOC = "D25";
NET "burched_port_d<4>" LOC = "D26";
NET "burched_port_d<3>" LOC = "A27";
NET "burched_port_d<2>" LOC = "A28";   # <- pin 2

# Monitor H:
NET "burched_port_e<2>" LOC = "H15";    # Note: not general purpose pin
NET "burched_port_e<3>" LOC = "A14";
NET "burched_port_e<4>" LOC = "A13";
NET "burched_port_e<5>" LOC = "A12";
NET "burched_port_e<6>" LOC = "A11";
NET "burched_port_e<7>" LOC = "B11";
NET "burched_port_e<8>" LOC = "A10";
NET "burched_port_e<9>" LOC = "B10";
NET "burched_port_e<10>" LOC = "C11";
NET "burched_port_e<11>" LOC = "C10";
NET "burched_port_e<12>" LOC = "A7";
NET "burched_port_e<13>" LOC = "A6";
NET "burched_port_e<14>" LOC = "B6";
NET "burched_port_e<15>" LOC = "A5";
NET "burched_port_e<16>" LOC = "B5";
#NET "EXT_CLK_I" LOC = "A4";
#NET "EXT_RQ_I" LOC = "C5";
#NET "EXT_DAT_I" LOC = "B3";

NET "burched_port_e<17>" LOC = "F4";
NET "burched_port_e<18>" LOC = "E3";
NET "burched_port_e<19>" LOC = "D2";
NET "burched_port_d<19>" LOC = "F2";

